<!-- Add the app header section -->
<app-header></app-header>

<!-- Page Content -->
<div class="container my-5 page-box px-0 card">

  <!-- Introduction Row -->
  <div class="title mx-0 card-body">
    <div class="row mx-4">

      <h1 class="my-4">About Us
        <small>Warmly Welcome!</small>
      </h1>

    </div>
  </div>
  <div class="mx-4 my-2 desc card-body">
    <div class="text-left">

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <hr>
      <p>Lorem ipsum...</p>

    </div>
  </div>



</div>

<!-- Add the app footer section -->
<app-footer></app-footer>